@font-face {
    font-family: "myfont";
    src: local("myfont"), url("../fonts/Barcelony.ttf") format("truetype");
}

.NavBar {
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 90px;
    border-bottom: 1px solid rgba(2, 0, 36, 0.2);
    // linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    
    #nav-logo{
        margin-left: 30px;
        margin-top: auto;
        margin-bottom: auto;
        color: rgb(82, 7, 7);
    }
    .tabs-ctn {
        position: absolute;
        right: 0px;
        display: flex;
        flex-direction: row;
    }
}

.BarBtn-ctn {
    .BarBtn {
        display: flex;
        flex-direction: row;
        // border-radius: 50px;
        margin-right: 20px;
        justify-content: center;
     
        width: 100px;
        &:hover {
            $a: 0.3;

            animation:  btn-zoom 0.2s forwards;

        }
        p {
            margin: auto;
            margin: 20px 0px;
            font-family: "myfont";
            background: -webkit-linear-gradient(#eee, #333);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: white;
            font-weight: bold;
            font-size: 25px;
            border-color: transparent;
        }
    }
}



@keyframes btn-zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}
