.counterCtn{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: fit-content;
    border: solid 1px black;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.3);
    margin-right: 10px;

}

.counterChange{
    margin: 0px 10px;
    color: blue;
    cursor: pointer;
}

.counterValue{
    color: black;
}