


@import "./animations";

@font-face {
    font-family: "myfont";
    src: local("myfont"), url("../fonts/Barcelony.ttf") format("truetype");
}
html,
body {
    height: 100%;
    margin: 0;
}
#root {
    height: 100%;
}
.page-block {
    position: absolute;
    right: 500px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.3);
    margin-left: 80px;
    margin-top: 80px;
    width: 500px;
    height: 500px;

    animation: menu-appear 0.6s forwards;
}
.App {
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-ctn {
    margin-top: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(160deg, rgb(255, 255, 255), rgb(223, 245, 226));
}